*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
header{
   background-color: #F5F7F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
ul{
    display: flex;
    gap: 20px;
}
li a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.three button {
    background-color: green;
    border: solid green;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-top: 20px; */
    border-radius: 5px;
}
.three a{
    text-decoration: none;
    color: green;
}
.buttan {
    background-color: #F5F7F9;
}
section{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    background-color: #F5F7F9;
    position: relative;
}
.one h1{
    font-size: 54px;
}
.one span{
    color: green;
}
.one button{
    background-color: green;
    border: #F5F7F9;;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-radius: 5px;
   

}
.one a{
    text-decoration: none;
    color: white;
}
.two img{
    width: 400px;
    height: 400px;
}
.a{
    width: 5px;
    height: 5px;
    background-color: rgb(135, 130, 130);
    border-radius: 100%;
}
.b{
    width: 5px;
    height: 5px;
    background-color:  rgb(135, 130, 130);;
    border-radius: 100%;
}

.c{
    width: 5px;
    height: 5px;
    background-color: rgb(0, 15, 223);
    border-radius: 100%;
}
.mainround{
    display: flex;
    gap: 5px;
    justify-content: center;
    position: absolute;
    top: 450px;
    left: 50%;
    
}
.ourclient{
    text-align: center;
    margin-top: 80px;
}
.otherlogo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top:10px;
}
.manage{
    text-align: center;
    margin-top: 80px;
}
.manage p{
    margin-top: 20px;
}
.box{
    height: 280px;
    width: 400px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.126);
    text-align: center;
    /* margin-top: px; */
    font-size: 10px;
    padding: 20px;
    
    
}
.box p{
    font-size: 15px;
    
}

.box i img{
    margin-top: 20px;
    font-size: 34px;
}
.mainbox{
    display: flex;
    justify-content: space-between;
   
    padding: 100px;
    gap: 30px;
}

.mainlr{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    margin-top: 80px;
}

.right img{
    width: 100px;
    height: 100px;

}
.right h1{
    margin-bottom: 25px;
}
.right button {
    margin-top: 25px;
    background-color: green;
    border: solid green;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
}
.right a{
 text-decoration: none;
 color: white;
}
.maincontant{
    display: flex;
    align-items: top;
    margin-top: 100px;
   background-color: #F5F7F9;
}
.rightimg{
       width: 260px;
    height: 260px;
  
}
.rightimg:hover{
     transform: matrix(20);
}
.rightimg img{
    /* width: 100%; */
    height: 100%;
}

.leftcon p{
    margin-bottom: 29px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
}
.leftcon pre{
    margin-top: 20px;
    padding-left: 25px;
    
}
.leftcon h4{
    color: green;
     padding-left: 25px;
}
.leftcon button{
   background-color: #F5F7F9;
    border: solid   #F5F7F9;;
    padding: 10px;
}
.leftcon a{
    text-decoration: none;
    color: green;
}
.leftcon a:hover{
    color: blue;
}
.otherlogo{
    padding-left: 25px;
    padding-right: 25px;
}
.mihp{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.mihp2{
    display: flex;
    align-items: center;
gap: 20px;}
.cihp{
    display: flex;
}
.hp1{

    line-height: 32px;
    margin: 20px;
}
.hp1 h1{
    font-weight: 600;
}
.hp2 h1{
    font-weight: 600;
}
.hp3 h1{
    font-weight: 600;
}
.hp4 h1{
    font-weight: 600;
}
.hp2{

    line-height: 32px;
    margin: 20px;
  
}
.hp3{
    line-height: 32px;
    margin: 20px;
}
.hp4{
    line-height: 32px;
    margin: 20px;
}
.icon{
    margin: -30px;
}

.mainrcl{
    display: flex;
    justify-content: space-between;
   background-color: #F5F7F9;
   margin-top: 80px;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 100px;
   padding-left: 35px;
}
/* .mainrl{
    display: flex;
    padding: 15px;
    align-items: center;
    margin-top: 35px;
}

.righ img{
    width: 100px;
    height: 100px;

}
.righ h1{
    margin-bottom: 25px;
}
.righ button {
    margin-top: 25px;
    background-color: green;
    border: solid green;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
}
.righ a{
 text-decoration: none;
 color: white;
} */
 .h{
    text-align: center;
    margin-top: 80px;

 }
 .h p{
 width: 50%;
 margin: auto;
 }
 .r span{
    color: green;
 }
 .rr img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    
 }
 
 
.rrr{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 35px;
}
.tt{
    width: 260px;
    height: 150px;
    background-color: #F5F7F9 ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.126);
    border-radius: 5px;
    font-size: 8px;
    text-align: center;
    padding: 20px;
    
}
.tt a{
    font-size: 14px;
    text-decoration: none;
    color: green;
}
.tt a:hover{
    color: blue;

}

.ttt{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    bottom: 90px;
    
}
.hb{
    text-align: center;
    font-size: 24px;
     background-color: #F5F7F9 ;
     line-height: 70px;
     padding: 20px;
    
}
.hb button{
    background-color: green;
   height: 30px;
   width: 120px;
    border: solid green;
    border-radius: 5px;
    /* transition: all .5s  inherit ; */
  

   
}
/* .hb button:hover{
 height: 40px;
   width: 140px;
} */
.hb a{
    text-decoration: none;
    color: white;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding-right: 90px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 80px;
    margin-top: 10px;
    
}
.nn p{
    margin-top: 15px;

}
.nn i{
    margin-top: 20px;
}
input{
    padding: 10px;
}




/* media?******* */

@media (max-width: 425px){
    .mainu ul{
        gap: 10px;
        font-size: 8px;
    }
    .three button{
        font-size: 5px;
    }
    .logo img{
        width: 90px;
    }
    header{
        font-size: 10px;
        width: 100%;
    }
    section{
        flex-direction: column;
    }
    .mainbox{
        flex-direction: column;
        padding: 10px;

    }
    .box{
        width: 100%;

    }
    .manage{
        font-size: 10px;
    }
    .mainlr{
     flex-direction: column;
     padding: 10px;
     margin-top: 1px;
     
    }
    .rightimg{
        text-align: center;
        width: 100%;

    }
    .leftcon h4{
        text-align: center;
    }
    .leftcon pre {
        text-align: center;
    }
    .otherlogo{
        padding: 10px;

    }
    .otherlogo img{
        width: 30px;
    }
    .right {
        font-size: 10px;
    }
    .maincontant{
        flex-direction: column;
    }
    .leftcon p {
        text-align: center;
    }
    .mainrcl{
        flex-direction: column;
        padding: 10px;
        
    } 
    .r{
        text-align: center;
    }
    .h{
        font-size: 12px;
    }
    .h p{
        width: 100%;
    }
    .rrr{
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        /* width: 12%; */
        text-align: center;
    }
    
    .ttt{
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        text-align: center;
        width: 280px;
        margin: auto;
    }
    .hb{
        font-size: 15px;
        line-height: 36px;
    }
    footer{
        flex-direction: column;
        gap: 40px;
    }
}